/* Global Styling */
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'RobotoRegular', sans-serif;
}

/* Styling to the Footer and Two sections of it by Kai D*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#links {
    width: 100%;
    height: 200px;
    background-color: #002d65;
}
#connect {
    width: 100%;
    height: 100px;
    background-color: white;
}


/* LINKS SECTION STYLING by Kai D */

/* Newsletter Div Formatting */
#newsletter {
    display: flex;
    align-items: center;
    float: right;
    width: 30%;
    height: 100%;
}
form {
    width: 100%;
}
#news_title {
    color: white;
}
/* Formatting for Email Text Field */
#email {
    width: 80%;
    height: 40px;
    margin-right: 20%;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    border: none;
    border-radius: 2px;
    padding: 0 2.5%;
}
/* Styling for Placeholder Text inside Email Field */
#email::placeholder {
    color: rgba(0, 0, 0, 0.5);
}
/* Submit Button Styling */
#submit {
    width: 22%;
    height: 30px;
    background-color: #0055A4;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
#submit:hover {
    background-color: #003366;
}


/* CONNECT SECTION STYLING by Kai D */

/* Footer Logo Styling */
#footer-logo {
    float: left;
    width: 266px;
    margin:  18px;
}